
Web/932101.vyachistyy.timofey.lab11/.vs/lab11/DesignTimeBuild/.dtbcache.v2
Web/932101.vyachistyy.timofey.lab11/.vs/lab11/FileContentIndex/287e5fe3-ff65-4819-b7e7-fc1932d2b9a0.vsidx
Web/932101.vyachistyy.timofey.lab11/.vs/lab11/FileContentIndex/7d45390b-b041-44c8-a9a9-7a9f11d80882.vsidx
Web/932101.vyachistyy.timofey.lab11/.vs/lab11/v17/.suo
Web/932101.vyachistyy.timofey.lab11/.vs/ProjectEvaluation/lab11.metadata.v5.2
Web/932101.vyachistyy.timofey.lab11/.vs/ProjectEvaluation/lab11.metadata.v7.bin
Web/932101.vyachistyy.timofey.lab11/.vs/ProjectEvaluation/lab11.projects.v7.bin
Web/932101.vyachistyy.timofey.lab11/lab11/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Web/932101.vyachistyy.timofey.lab11/lab11/obj/Debug/net6.0/lab11.AssemblyInfo.cs
Web/932101.vyachistyy.timofey.lab11/lab11/obj/Debug/net6.0/lab11.AssemblyInfoInputs.cache
Web/932101.vyachistyy.timofey.lab11/lab11/obj/Debug/net6.0/lab11.assets.cache
Web/932101.vyachistyy.timofey.lab11/lab11/obj/Debug/net6.0/lab11.GeneratedMSBuildEditorConfig.editorconfig
Web/932101.vyachistyy.timofey.lab11/lab11/obj/Debug/net6.0/lab11.RazorAssemblyInfo.cache
Web/932101.vyachistyy.timofey.lab11/lab11/obj/Debug/net6.0/lab11.RazorAssemblyInfo.cs
Web/932101.vyachistyy.timofey.lab11/lab11/obj/lab11.csproj.nuget.dgspec.json
Web/932101.vyachistyy.timofey.lab11/lab11/obj/lab11.csproj.nuget.g.props
Web/932101.vyachistyy.timofey.lab11/lab11/obj/project.assets.json
Web/932101.vyachistyy.timofey.lab11/lab11/obj/project.nuget.cache
